body {
    margin: 40px auto;
    min-width: 320px;
    max-width: 1200px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

a {    
    color: #2f85d5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.gradient-blue {
    background: #7abcff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDk2ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
}


/* Begin candidate CSS */

.tab-group{
	width: 800px;
	margin: 0 auto;
}

.tab{
    position: relative;
    max-width: 24%;
    float: left;
    margin-right: 0.5%;
}

.tab input{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
}

.tab label{
	color:#fff;
	display: block;
	line-height: 3;
	padding-left: .5em;
	margin-bottom: .075em;
	transition: letter-spacing .85s;
	text-transform: uppercase;
}
	
.tab input:focus+label,
.tab label:hover,
.indicator_up:hover
{
	background: #7abcff;
	text-decoration: underline;
}	

.tab-content{
	max-height: 0;
	overflow: hidden;
	transition: all .95s;
}	

.tab-content p{
	margin: 1em 0;
	color: #2f85d5;
	border-left: 1px solid #7abcff;
    border-right: 1px solid #7abcff;
	border-bottom: 1px solid #7abcff;
    margin-top: 0.05em;
    padding: 1em;
}

.indicator_up,
.indicator_down{
	margin-left: 20px;
	margin-right: 10px;
	float: right;
}

.indicator_up{
	display: none;
}

.tab input:checked ~ .tab-content{
	max-height: 20em;
}

.tab input:checked ~ label{
	text-decoration: underline;
}

.tab input:checked ~ label>.indicator_up{
	text-decoration: underline;
}

.tab input:checked ~ .gradient-blue>.indicator_up{
	display: block;
}

.tab input:checked ~ .gradient-blue>.indicator_down{
	display: none;
}

.tab input:checked ~ .tab-content:last-child{
/* 	border-bottom: 1px solid #7abcff; */
}

.tab-content-links{
    border-left: 1px solid #7abcff;
    border-right: 1px solid #7abcff;
	border-bottom: 1px solid #7abcff;
    margin-top: 0.1em;
	padding: 1em; 
	-webkit-transition: height 0.3s ease-in;
            -moz-transition: height 0.3s ease-in;
            -o-transition: height 0.3s ease-in;
            -ms-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
	display: inline-block;
   }
	
.tab-content-links>li{
	list-style-type: none;
}